<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {
          color: #00704A;
          background-color: blanchedalmond;
          text-align: center;
        }
        ul {
            list-style: none;
        }
    </style>
</head>
<body>
    <h1>See All The Plants!</h1>

    <ul>
        <%for (let i = 0; i < plant.length; i++) {%>
            
            <li>
                
                <a href="/plant/<%=plant[i].id%>"> <%= plant[i].name %></a>    
                
                <form method="POST" action="/plant/<%=plant[i].id%>?_method=DELETE">
                    <input type="submit" value="DELETE"/>
                </form>
                
            </li>
            
        <%}%>
    </ul>
</body>
</html>